AuthType Basic 
AuthName "Restricted Directory" 
AuthUserFile /path/to/directory/.htpasswd 
require valid-user

<FilesMatch "\.(gz|pdf|zip|rar)$" >
    Order allow,deny
    Allow from all
    Satisfy any
</FilesMatch>